# Gradle
.gradle/
build/

# Local configuration
local.properties

# Android Studio
.idea/
*.iml

# OS
.DS_Store

# Logs
*.log

# Keystore files
*.jks
*.keystore

# External native build
.cxx/

# Generated APKs
*.apk
*.aab
